.swiper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 520px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
}

.swiper-pagination-bullet {
  background: #3e3e3e;
}

.swiper-pagination-bullet-active {
  background: #fff;
}
