.swiper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 520px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
}

.swiper-pagination-bullet {
  background: #3e3e3e;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgb(22, 21, 24), rgba(22, 21, 24, 0)) !important;
}

.swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  --swiper-navigation-size: 15px;
  --swiper-theme-color: rgb(67, 64, 74);
  font-weight: 700;

}

.swiper-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  --swiper-navigation-size: 15px;
  --swiper-theme-color: rgb(67, 64, 74);
  font-weight: 700;
  
}